@import '../../styles/helpers';

.open-modal {
  opacity: 0.05;
}

.calendar {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: inherit;
  height: inherit;
  overflow: hidden;
  padding: 30px 0;

  &__logo {
    margin-bottom: 60px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }

  & > :not(&-present) {
    z-index: 2;
  }

  &-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 60px;

    &__title {
      max-width: 620px;
      font-style: normal;
      font-weight: 400;
      font-size: 84px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: @blue;
      margin-bottom: 32px;
    }

    &__subtitle {
      max-width: 625px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: @purple-blue--darken;
    }

    &__dates {
      margin-bottom: 64px;
    }
  }

  &-dates {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 64px;

    &-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(1, 65, 255, 0.06);
      backdrop-filter: blur(48px);
      border-radius: 1000px;
      padding: 6px;
      width: 128px;
      height: 128px;
      cursor: pointer;

      &__date {
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #6D8CE6;
        margin-bottom: 8px;
      }

      &__month {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: #6D8CE6;
      }

      &--more {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #1134B5;
        color: #FFF;
        min-width: 80px;
        height: 80px;
      }

      &.btn--hidden {
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        padding: 30px 6px;

        .calendar-dates-btn {
          &__img {
            width: 44px;
            height: 44px;
            margin-bottom: 8px;
          }

          &__info {
            display: flex;
          }

          &__date {
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
            margin-right: 6px;
          }

          &__month {
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }

      &.btn--active {
        display: flex;
        flex-direction: row;
        width: 256px;
        height: 128px;
        background: #FFF;
        padding: 24px;

        .calendar-dates-btn {
          &__info {
            width: 100%;
          }

          &__date {
            color: #1134B5;
          }

          &__month {
            color: #1134B5;
          }
        }
      }
    }
  }

  &-footer {
    text-align: center;
    max-width: 960px;

    &__text {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      opacity: 0.3;
      color: @purple-blue--lighten;
      margin-bottom: 20px;
    }

    &-nav {
      display: inline-flex;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 130%;
      opacity: 0.5;
      color: @purple-blue--lighten;

      &__link {
        margin-right: 20px;
      }
    }
  }

  &-present {
    z-index: 1;

    &__photo {
      &:first-child {
        position: absolute;
        bottom: -244px;
        left: -406px;
      }

      &:last-child {
        position: absolute;
        top: -76px;
        right: -264px;
      }
    }
  }
}
