.btn {
  &--outline {
    border: 1.42857px solid rgba(16, 39, 82, 0.1);
    padding: 14px;
    border-radius: 24px;
  }

  &--primary {
    background: linear-gradient(90deg, #1538F5 0%, #3A83F7 83.17%);
    padding: 18px 36px;
    border-radius: 13px;
  }

  &--ghost {
    background: #C7DCFF;
    padding: 18px 36px;
    border-radius: 13px;
  }
}
