@desktop-only: ~'(min-width: 1024px)';
@tablet: ~'(max-width: 1023px)';
@mobile: ~'(max-width: 599px)';
@mobile-small: ~'(max-width: 359px)';

@purple-blue--darken: #110022;
@purple-blue--lighten: #102752;
@blue: #1134B5;

// stylelint-disable
:export {
  desktopOnly: @desktop-only;
  tablet: @tablet;
  mobile: @mobile;
  mobileSmall: @mobile-small;
}
