@import '../../styles/helpers';

.popup {
  position: inherit;
  max-width: 995px;
  background: #FFF;
  box-shadow: 0 2.76389px 82.9167px rgba(125, 162, 227, 0.25);
  border-radius: 40px;
  padding: 44px;

  &-close {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #000;
  }

  &-header {
    display: flex;

    &__info {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      max-width: 433px;
    }

    &__date {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #2353E0;
      background: #F4F7FA;
      padding: 6px;
      border-radius: 6px;
      margin-bottom: 20px;
    }

    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 44px;
      line-height: 96%;
      letter-spacing: -0.05em;
      color: #1134B5;
      margin-bottom: 20px;
    }

    &__subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.02em;
      opacity: 0.7;
      color: #102752;
      margin-bottom: 32px;
    }

    &__btn {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #FFF;
      margin-bottom: 65px;
    }

    &__img {
      object-fit: contain;
    }
  }

  &-main {
    .img('bg-form.jpg');
    position: relative;
    border-radius: 60px;
    padding: 44px;
    margin-bottom: 44px;

    &__container {
      display: flex;
    }

    &-info {
      position: inherit;
      max-width: 433px;

      &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 96%;
        letter-spacing: -0.05em;
        color: #122790;
        margin-bottom: 20px;
      }

      &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #102752;
        opacity: 0.7;
        margin-bottom: 20px;
      }

      &__design {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #FFF;
      }

      &__more {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #2353E0;
      }

      &__btn {
        display: flex;
        margin-bottom: 40px;

        & > :last-child {
          margin-left: 12px;
        }
      }

      &__img {
        position: absolute;
        top: 24px;
        right: 24px;
      }
    }

    &-cards {
      display: flex;
      flex-wrap: wrap;

      &-card {
        flex-basis: calc(50% - 10px);
        background: #FFF;
        box-shadow: 15px 30px 90px rgba(0, 24, 87, 0.1);
        backdrop-filter: blur(36px);
        border-radius: 24px;
        padding: 24px;

        &__title {
          font-style: normal;
          font-weight: 400;
          font-size: 44px;
          line-height: 48px;
          letter-spacing: -0.04em;
          color: #2353E0;
          margin-bottom: 12px;
        }

        &__subtitle {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: -0.01em;
          color: #102752;
          opacity: 0.8;
        }
      }

      & > :not(:last-child) {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }

  &-footer {
    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 44px;
      line-height: 96%;
      letter-spacing: -0.05em;
      color: #1134B5;
      margin-bottom: 40px;
    }

    &-cards {
      display: flex;
      flex-wrap: wrap;

      &-card {
        flex-basis: calc(50% - 12px);
        flex-grow: 1;
        background: #FFF;
        box-shadow: 15px 30px 90px rgba(0, 24, 87, 0.1);
        backdrop-filter: blur(36px);
        border-radius: 24px;
        padding: 24px;

        &__title {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: -0.01em;
          color: #102752;
          opacity: 0.8;
        }
      }

      & > :not(:last-child) {
        margin-right: 12px;
        margin-bottom: 12px;
      }

      & > :not(:nth-child(2)) {
        flex-basis: calc(100% / 3 - 12px);
      }
    }
  }
}
