@import '../../styles/helpers';

.popup {
  position: relative;
  background: #FFF;

  .header {
    padding: 44px;

    &__info {
      display: flex;
    }

    &__date {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #2353E0;
      padding: 6px;
    }

    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 44px;
      line-height: 96%;
      letter-spacing: -0.05em;
      color: #1134B5;
    }

    &__subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.02em;
      opacity: 0.7;
      color: #102752;
    }

    .btn {
      &__watching {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #FFF;
      }
    }
  }

  .main {

  }

  .footer {

  }
}
